
       
      <div ng-init="getResources()" style="background-color:white">	  		              
			<form ng-submit="submitJobFunc()">
					<p>Schedule New Job</p> 
					<label><span>Select Resource Type :</span>
					<select id="resourceSelector" ng-model="resourceType" required>
						<option disabled selected value>-- select Resource --</option>
						<option ng-repeat="resource in resources" value="{{resource.id}}">{{resource.type}}</option>
					</select></label>					
					<label><span>Description :</span><textarea ng-model="description"></textarea></label>
					<label><span>Job Count :</span><input type="text" ng-model="jobCount" required></label>
					<input type="submit" value="Schedule Job" class="create-job"/>
					<p id="clickEvent" style="">{{myTxt}}</p>					
			</form>		
      </div>        
