
		 body {
			background :black;
			/* color: white; */
		 }
		 
		 form {
			margin: 0 auto;
			padding: 5px 0 0 50px;
			font-size: 22px;
			border: 1px solid;
			text-align: center;
		 }
		 
		 p {
			color: brown;
			font-size: 30px;
			font-style: italic;
			font-weight: bold;
		 }
		 
        select, input, textarea {
			width: 20%;
			height: 5%;
			margin-left: 20px;
			font-size: 22px;
			text-align: center;
		}
		
		input {
			margin-left: 126px;
			margin-top: 20px;
		}
		
		textarea{
			margin-left: 112px;
			margin-top: 20px;
		}
		 
		 label {
		 display: block;
		 }
		 
		 .create-job{
			height :50px;
			width :300px;
			font-weight: bold;
			font-size : 25px;			
			margin: 60px 0 0 60px;
		 }
		 
		
      