<p>We have your schedule for Job {{jobdetails.id}}. And your details are as below:</p>
<table>
<tr><th>Job description:</th> <td>{{jobdetails.description}}</td></tr>
<tr><th>Start date:</th> <td>{{jobdetails.startDate.dayOfMonth}}-{{jobdetails.startDate.month}}-{{jobdetails.startDate.year}}</td></tr>
<tr><th>End date:</th> <td>{{jobdetails.endDate.dayOfMonth}}-{{jobdetails.endDate.month}}-{{jobdetails.endDate.year}}</td></tr>
</table>