<html>   
   <head>
     <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>      
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
<!--      <script src = "createJobController.js"></script> --> 
<!-- 		<script src="resourcesService.js"></script> -->		
		<link rel="stylesheet" href="createJob.css"> 
      <style>
		 body {
			background :black;
		 }
		 
		 table {
			width : 100%;
			height : 60%;
			margin-top: 25px;
		 }
		 
         table, th , td {
            border: 2px solid grey;
            border-collapse: collapse;
            padding: 10px;
			text-align: center;					
         }
		 
		 th {
		  font-size : 25px;
		  color : brown;
		  font-weight: bold;
		 }
         
         table tr:nth-child(odd) {
            background-color: #f5f5f5;
         }
         
         table tr:nth-child(even) {
            background-color: #ffffff;
         }
		 
		 .jobsubmit {
			padding:100px 10px 10px 110px
		 }
		 
		 .btn-primary{
			height :50px;
			width :300px;
			font-weight: bold;
			font-size : 25px;
		 }
		 
		 #myProgress {
		  width: 100%;
		  background-color: #b3adad;
		}

		#myBar {
		  height: 30px;
		  background-color: #4CAF50;
		  text-align: center;
		  line-height: 30px;
		  color: white;
		}
		
		#clickEvent {
			color : black;
			font-size : 30px;
			text-align :center;
		}
      </style>
      
   </head>
   <body>       
      <div ng-app = "mainApp" ng-init="getJobs()" ng-controller="jobController">
      <button class="btn-home" ng-click="takeMeHome();">Home</button>
      
		<div ng-view></div>
      </div>
      
      <script>
         var mainApp = angular.module("mainApp", ["ngRoute"]);
         mainApp.config(function($routeProvider) {
        	    $routeProvider
        	    .when("/", {
        	        templateUrl : "summary.html"
        	    })
        	    .when("/details", {
        	        templateUrl : "details.html"
        	    })
        	     .when("/submit",{
        	    	templateUrl : "CreateJob.html"
        	    });
        	});
         mainApp.controller('jobController', function($scope,$http,$location) {
        	 $scope.mainContextRoot="https://resource-management-siemens.cfapps.io/";
        	 $scope.getJobs = function(){
        		 $http({
        	        		method: "get",
        	        		url: "\json\\jobs.json"//$scope.mainContextRoot+"jobs"
        		 }).then(function success(data){
        	        		 console.log(data.data);
        	        		 $scope.jobs=data.data;
        	        	 },function error(data){
        	        		 
        	        	 });	 
        	 };
        	 $scope.getDetails = function(event){
        		 console.log(event.target.id);
        		 $http({
 	        		method: "get",
 	        		url:"\json\\jobDetails.json"//$scope.mainContextRoot+"job/"+event.target.id
 		 		}).then(function success(data){
 	        		 console.log(data.data);
 	        		 $scope.jobdetails=data.data;
 	        		$location.path("/details");
 	        	 },function error(data){
 	        		 
 	        	 });	
        	 };
        	 $scope.takeMeHome= function(){
        		 $location.path("/");
        	 }
        	 $scope.takeMeNewReq = function(){
        		 $location.path("/submit");
        	 }
        	 $scope.getResources = function(username){
                  $http.get("\json\\resourcestype.json")//$scope.mainContextRoot+"resources"
                             .then(function(response){
                                $scope.resources= response.data; 
                             });
           };
           $scope.createJob = function(){
        	   $http({
	        		method: "get",
	        		url:"\json\\submitjob.json",////$scope.mainContextRoot+jobs
	        		data:{
	        				resourceType: 1,
	        				totalTask: 100000,
	        				description: "Test1"
	        		},
	        		headers : { 'Content-Type': 'application/json' } 
		 		}).then(function success(data){
	        		 console.log(data.data);
	        		 $scope.jobdetails=data.data;
	        		 $scope.myTxt =  " Job "+$scope.jobdetails+" schedulled successfully";
	        	 },function error(data){
	        		 
	        	 });
           }
           $scope.submitJobFunc = function () {
        	   $scope.createJob(); 
        	   
        		 
        		/* $http({
        			method  : 'POST',
        			url     : 'http://localhost:1234/rest/student/add?id=' + $scope.jobCount +'&name=' + $scope.resourceType		  		  
        		 }).success(function(data) {
        			console.log(data);			
        		 });*/
        		 
        				 
        		 
        		 };
        	 
            /* $scope.factory = {               
               jobs:[
                  {name:'Physics',marks:10,completionDate:'12-06-2017'},
                  {name:'Chemistry',marks:20,completionDate:'15-06-2017'},
                  {name:'Math',marks:30,completionDate:'02-06-2017'},
                  {name:'English',marks:55,completionDate:'12-07-2017'},
                  {name:'Hindi',marks:70,completionDate:'22-08-2017'}
               ]
            }; */
			$scope.submitFunc = function () {
				  $scope.myTxt = "Job submitted successfully!";
				  $scope.getJobs();
			};
			
			$scope.updateData = function(){
				$scope.getJobs();
			};	

			 $scope.reloadPage = function(){
				window.location.reload();
			};
			
         });
      </script>      
   </body>
</html>