	<div class= "jobsubmit">
			<button ng-click="takeMeNewReq();" class="btn btn-primary">Create new Job Request</button>			
			<p id="clickEvent">{{myTxt}}</p>
		</div>
		<button class="btn-primary" ng-click="updateData()">Refresh Data</button>
              <table>
                     <tr>
						<th>Job ID</th>
                        <th>Description</th>
						<th>Progress status</th>
                     </tr>
                     
                     <tr ng-repeat = "job in jobs">                        
						<td><a id="{{job.id}}" ng-click="getDetails($event)" style="text-decoration:underline; cursor:pointer;">{{ job.jobId }}</a></td>
						<td>{{ job.description }}</td>
                        <td>
						
							<div id="myProgress">
								<div id="myBar" style="width: {{ job.workDone/job.totalTask *100}}%;">{{  job.workDone/job.totalTask *100 }}%</div>								
							</div>
						
						</td>
                     </tr>							
                  </table>
		